In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from itertools import cycle

In [64]:
df = pd.read_table('WEOOct2020all.tsv')

In [65]:
df.head(3)

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2018,2019,2020,2021,2022,2023,2024,2025,Estimates Start After,Unnamed: 56
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,270.216","1,319.902","1,253.906","1,304.063","1,363.060","1,424.397","1,481.497","1,540.937",2019.0,NaN
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,"See notes for: Gross domestic product, consta...",NaN,...,1.189,3.912,-5.000,4.000,4.524,4.500,4.009,4.012,2019.0,NaN
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,327.690","1,469.596","1,465.922","1,597.738","1,741.832","1,893.023","2,047.665","2,215.013",2019.0,NaN

In [66]:
df.columns

Index(['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country',
       'Subject Descriptor', 'Subject Notes', 'Units', 'Scale',
       'Country/Series-specific Notes', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023', '2024', '2025', 'Estimates Start After',
       'Unnamed: 56'],
      dtype='object')

In [67]:
df = df[['Country',
       'Subject Descriptor', '2015']]

In [68]:
df.head()

       Country                       Subject Descriptor       2015
0  Afghanistan  Gross domestic product, constant prices  1,197.012
1  Afghanistan  Gross domestic product, constant prices      0.988
2  Afghanistan   Gross domestic product, current prices  1,226.570
3  Afghanistan   Gross domestic product, current prices     20.220
4  Afghanistan   Gross domestic product, current prices     72.056

In [69]:
df.isnull().sum()

Country                  1
Subject Descriptor       1
2015                  1231
dtype: int64

In [70]:
df = df.dropna()

In [71]:
df.isnull().sum()

Country               0
Subject Descriptor    0
2015                  0
dtype: int64

In [72]:
df.shape

(7545, 3)

In [73]:
temp_list = list(df['Subject Descriptor'].unique())

In [74]:
len(temp_list)

29

In [75]:
for country in countries:
    temp_df = df[df['Country'] == country]
    temp_list2 = list(temp_df['Subject Descriptor'].unique())
    temp_list = [x for x in temp_list if x in temp_list2]

### Visi laukai 2015 metais, kurie yra visose Å¡alyse

In [80]:
temp_list

['Gross domestic product, constant prices',
 'Gross domestic product, current prices',
 'Gross domestic product, deflator',
 'Gross domestic product based on purchasing-power-parity (PPP) share of world total',
 'Implied PPP conversion rate',
 'General government revenue',
 'Gross domestic product corresponding to fiscal year, current prices']